
body{
    color:black;
}
#listEmploey
{
/* padding-top: 50px;
padding-left: 50%;
width: 50%;
margin-left:30px;
margin-top: 30px; */
/* height: 100px; */

width: 35%;
border:rgba(22, 112, 6, 0.657) solid 0.5px;
}
table,td,tr {
    text-align: center;
    direction: rtl;
    font-size:32px;
    font-family: art;
    border:solid 0.5px rgba(22, 112, 6, 0.657);
}
#firstLine{
    font-weight: bold;
}